<div class="row">
    <div class="span12">
        <form name="form" class="form-horizontal" novalidate >
            <fieldset>
                <legend>Account informations</legend>


                <div class="control-group">
                    <label class="control-label">Username</label>
                    <div class="controls">
                        <input type="text" name="username" ng-model="username" required>
                        <span class="help-block"><p class="muted">Please choose a valid username.</p></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input type="email" name="email" ng-model="email">
                        <span class="help-block"><p class="muted">Enter a valid email address.</p></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Password</label>
                    <div class="controls">
                        <input type="password" name="password.main" ng-model="password.main">
                        <span class="help-block"><p class="muted">A password must be at least 6 characters.</p></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Repeat Password</label>
                    <div class="controls">
                        <input type="password" name="password.confirm" ng-model="password.confirm">
                        <span class="help-block"><p class="muted">Please repeat your password again.</p></span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Contact informations</legend>
                <div class="control-group">
                    <label class="control-label">Country</label>
                    <div class="controls">
                        <select name="profile.country" ng-model="profile.country">
                            <option class="blank" value="">--- Choose a country ---</option>
                            <option value="France">France</option>
                            <option value="Austria">Austria</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Estonia">Estonia</option>
                        </select>
                        <span class="help-block"><p class="muted">Required</p></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address</label>
                    <div class="controls">
                        <textarea name="profile.address" ng-model="profile.address" cols="50"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Age</label>
                    <div class="controls">
                        <input type="text" name="profile.age" ng-model="profile.age">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="accept" ng-model="accept"> You aggree the Terms and conditions
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Sign up</button>
                <a href="#/forms" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>