<div class="row">
    <div class="span12">

        <h2>{{contact.firstname}} {{contact.lastname}}</h2>

        <h6>Company</h6>
        <p>{{nullValue(contact.company)}}</p>

        <div class="well" ng-repeat="profile in contact.profiles">
            <h3>{{profile.label}}</h3>
            <h6>Email</h6>
            <p>{{nullValue(profile.email)}}</p>
            <h6>Phones</h6>
            <ul>
                <li ng-repeat="phone in profile.phones">{{phone.number}}</li>
            </ul>
        </div>
    </div>
</div>