<div class="row">
    <div class="span12">
        <form name="form" class="form-horizontal" novalidate>
            <fieldset>
                <legend>General informations</legend>
                <div class="control-group" ng-class="{true:'error', false:''}[form.firstname.$dirty && form.firstname.$invalid]">
                    <label class="control-label">First name</label>
                    <div class="controls">
                        <input type="text" name="firstname" ng-model="contact.firstname" required>
                        <span class="help-inline" ng-show="form.firstname.$dirty && form.firstname.$error.required">This field is required</span>
                        <span class="help-block"><p ng-class="{true:'',false:'muted'}[form.firstname.$dirty && form.firstname.$invalid]">Required</p></span>
                    </div>
                </div>
                <div class="control-group" ng-class="{true:'error', false:''}[form.lastname.$dirty && form.lastname.$invalid]">
                    <label class="control-label">Last name</label>
                    <div class="controls">
                        <input type="text" name="lastname" ng-model="contact.lastname" required>
                        <span class="help-inline" ng-show="form.lastname.$dirty && form.lastname.$error.required">This field is required</span>
                        <span class="help-block"><p ng-class="{true:'',false:'muted'}[form.lastname.$dirty && form.lastname.$invalid]">Required</p></span>
                    </div>
                </div>
                <div class="control-group" ng-class="{true:'error', false:''}[form.company.$dirty && form.company.$invalid]">
                    <label class="control-label">Company</label>

                    <div class="controls">
                        <input type="text" name="company" ng-model="contact.company">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Profiles</legend>
                <div class="well" ng-repeat="profile in contact.profiles" ng-form="profileForm" name="profileForm">
                    <a class="btn btn-danger pull-right" ng-click="removeProfile($index)">Remove this profile</a>

                    <div class="control-group" ng-class="{true:'error', false:''}[profileForm.label.$dirty && profileForm.label.$invalid]">
                        <label class="control-label">Label</label>

                        <div class="controls">
                            <input type="text" name="label" ng-model="profile.label" required>
                            <span class="help-inline" ng-show="profileForm.label.$dirty && profileForm.label.$error.required">This field is required</span>
                            <span class="help-block"><p ng-class="{true:'',false:'muted'}[profileForm.label.$dirty && profileForm.label.$invalid]">Required</p></span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{true:'error', false:''}[profileForm.email.$dirty && profileForm.email.$invalid]">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            <input type="email" name="email" ng-model="profile.email">
                            <span class="help-inline" ng-show="profileForm.email.$dirty && profileForm.email.$error.email">Enter a valid email</span>
                        </div>
                    </div>
                    <div ng-repeat="phone in profile.phones" ng-form="phoneForm">
                        <div class="control-group" ng-class="{true:'error', false:''}[phoneForm.phone.$dirty && phoneForm.phone.$invalid]">
                            <label class="control-label">Phone numbers</label>
                            <div class="controls">
                                <input type="text" name="phone" ng-model="phone.number" ng-pattern="/[0-9]+/">
                                <span class="help-inline" ng-show="phoneForm.phone.$dirty && phoneForm.phone.$error.pattern">Enter a valid phone number</span>
                                <a class="btn btn-danger" ng-click="removePhone(profile, $index)">Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a class="btn btn-success" ng-click="addNewPhone(profile)">Add a phone number</a>
                        </div>
                    </div>
                </div>

                <div class="manage">
                    <a class="btn btn-success" ng-click="addNewProfile()">Add another profile</a>
                </div>
            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-click="saveContact(contact)">Insert</button>
                <a href="#/forms" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>