<div class="row">
    <div class="span12">

        <h2>Your account:</h2>

        <h6>Username</h6>
        <p>{{user.username}}</p>

        <h6>Email</h6>
        <p>{{user.email}}</p>

        <h6>Password</h6>
        <p>{{user.password.main}}</p>


        <h2>Additional informations:</h2>

        <h6>Country</h6>
        <p>{{user.profile.country}}</p>

        <h6>Address</h6>
        <p>{{nullValue(user.profile.address)}}</p>

        <h6>Age</h6>
        <p>{{nullValue(user.profile.age)}}</p>
    </div>
</div>