


<div class="row">
    <div class="span12">
        <div class="alert alert-warning" ng-repeat="message in messages">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div ng-bind-html="message"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h3>{{computers.length}} computers found</h3>
    </div>
</div>

<div class="row">
    <div class="span12 relative">
        <form class="form-search">
            <input type="search" class="input-large search-query" placeholder="Filter by computer name..." ng-model="query" ng-change="search()">
        </form>
        <a class="btn btn-success right-btn" href="#/computer/new">Add a new computer</a>
    </div>
</div>

<div class="row">
    <div class="span12">
        <table class="table table-bordered table-striped computers">
            <thead>
                <tr>
                    <th class="col1" ng-class="{true:'currentSort',false:''}[sort.column == 'name']" ng-click="changeSorting('name')">
                        <a>Computer Name</a>
                        <i ng-show="sort.column == 'name'" ng-class="{true:'icon-arrow-down', false:'icon-arrow-up'}[sort.descending]"></i>
                    </th>
                    <th class="col2" ng-class="{true:'currentSort',false:''}[sort.column == 'introduced']" ng-click="changeSorting('introduced')">
                        <a>Introduced</a>
                        <i ng-show="sort.column == 'introduced'" ng-class="{true:'icon-arrow-down', false:'icon-arrow-up'}[sort.descending]"></i>
                    </th>
                    <th class="col3" ng-class="{true:'currentSort',false:''}[sort.column == 'discontinued']" ng-click="changeSorting('discontinued')">
                        <a>Discontinued</a>
                        <i ng-show="sort.column == 'discontinued'" ng-class="{true:'icon-arrow-down', false:'icon-arrow-up'}[sort.descending]"></i>
                    </th>
                    <th class="col4" ng-class="{true:'currentSort',false:''}[sort.column == 'company.name']" ng-click="changeSorting('company.name')">
                        <a>Company</a>
                        <i ng-show="sort.column == 'company.name'" ng-class="{true:'icon-arrow-down', false:'icon-arrow-up'}[sort.descending]"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="computer in pagedComputers[currentPage] | filter:query | orderBy:sort.column:sort.descending">
                    <td><a href="#/computer/{{computer.id}}">{{computer.name}}</a></td>
                    <td>{{computer.introduced | date:'dd MMM yyyy'}}</td>
                    <td>{{computer.discontinued | date:'dd MMM yyyy'}}</td>
                    <td>{{computer.company.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="pagination pagination-right">
        <ul>
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">← Previous</a>
            </li>
            <li class="current">
                <a>Displaying {{currentPage*computersByPage+1}} to {{(currentPage+1)*computersByPage}} of {{computers.length}}</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a href ng-click="nextPage()">Next →</a>
            </li>
        </ul>
    </div>
</div>