
<div class="row">
    <div class="span3"></div>
    <div class="span6">
        <form name="form" class="form-horizontal well" novalidate>
            <fieldset>
                <div class="control-group" ng-class="{true:'error', false:''}[form.name.$dirty && form.name.$invalid]">
                    <label class="control-label">What's your name?</label>
                    <div class="controls">
                        <input type="text" name="name" ng-model="name" placeholder="World" class="input-small" required>
                        <span ng-show="form.name.$dirty && form.name.$invalid" class="help-inline">Name is required</span>
                    </div>
                </div>
                <div class="control-group" ng-class="{true:'error', false:''}[form.times.$dirty && form.times.$invalid]">
                    <label class="control-label">How many times?</label>
                    <div class="controls">
                        <input type="number" name="times" ng-model="times" placeholder="10" class="input-small" required>
                        <span ng-show="form.times.$dirty && form.times.$invalid" class="help-inline">Times is a required number</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="color">Choose a color</label>
                    <div class="controls">
                        <select id="color" ng-model="color" class="input-small">
                            <option value="">Default</option>
                            <option value="red">Red</option>
                            <option value="green">Green</option>
                            <option value="blue">Blue</option>
                        </select>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"
                            ng-click="submitForm(name, times, color)">Validate</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span3"></div>
</div>